<a href="https://colab.research.google.com/github/SebastianJanampa/ITBA/blob/master/codigo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Acceder a la carpteta de drive

In [33]:
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Cargar datos proporcionados

In [86]:
# Importar librerías
import pandas as pd 
import os

root_path = 'gdrive/My Drive/MachineLearning/Preliminares/'  # direccion de la carpeta de interés
file_dir = os.path.join(root_path, 'marambio_2007.csv') # dirección del archivo de interés
df = pd.read_csv(file_dir, sep=';') # cargar archivo csv
df.head() # visualizar 5 primeras filas

    año      ukmo      cmam   gembach      ncep     ecmwf
0  1001  191.8850  191.4259  191.5605  190.3499  192.1477
1  1002  190.5867  189.4517  190.3790  188.6695  188.3967
2  1003  190.4485  190.6399  191.0684  190.4134  189.6597
3  1004  192.5483  191.6376  192.6831  191.4446  190.7733
4  1005  193.0735  193.6450  193.9516  192.8147  192.4866

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   año      92 non-null     int64
 1   ukmo     89 non-null     float64
 2   cmam     92 non-null     float64
 3   gembach  92 non-null     float64
 4   ncep     85 non-null     float64
 5   ecmwf    92 non-null     float64
dtypes: float64(5), int64(1)
memory usage: 4.4 KB